/* Cores personalizadas do projeto */
:root {
  --primary-color: #122137;
  --secund-color: #31425A;
  --third-color: #1877F2;
}

/* Classe personalizada para max-width */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.max-w-9xl {
    max-width: 1440px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3b82f6;
    border-color: #3b82f6 1px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #daebff;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #2b66c5;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6;
}